<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - My Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <h1>Welcome to My Portfolio!</h1>
      <p>My mission is to create impactful digital solutions.</p>
      <a href="/about">Learn More About Me</a>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
