<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services - My Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/service.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <h1>What I Offer</h1>
      <ul class="flex-container">
        <div class="service">
          <img src="/images/web.webp" alt="web" />
          <li>Web Development</li>
        </div>
        <div class="service">
          <img src="/images/uiux.jpeg" alt="ui/ux" />
          <li>UI/UX</li>
        </div>
        <div class="service">
          <img src="/images/mobile.webp" alt="" />
          <li>Mobile Apps</li>
        </div>
      </ul>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
